html {
	text-align: right;
}

body {
	margin: 0px;
	font-family: 'Fira Sans', sans-serif;
}

nav {
	background-color: #eee;
	position: fixed;
	height: 60px;
	width: 100%;
	font-family: 'Fira Sans', sans-serif;
}

.title {
	position: absolute;
	font-size: 25px;
	margin: 17px 15px 15px 25px;
}

nav ul {
	margin-right: 20px;
}

nav li {
	display: inline-block;
	font-size: 25px;
	padding: 0px 15px 0px 0px;
	
}

a {
	text-decoration: none;
	color: purple;
}

main {
	/*border: solid 1px black;*/
	width: 50%;
	text-align: left;
	/*position: relative;*/
	padding-top: 120px;
	margin-left: 100px;
}

input {
	text-indent: 5px;
	height: 25px;
	width: 500px;
	font-size: 20px;
	font-family: 'Fira Sans', sans-serif;
}

.button {
	display: inline-block;
	position: absolute;
	height: 29px;
	width: 29px;
	border-radius: 2px;
	margin-left: 5px;
	border: solid 1px #a9a9a9;
	background-color: #f5f5f5;
}

.button .fa {
	position: relative;
	top: 20%;
	left: 25%;
}

.traverse {
	display: inline-block;
	margin-top: 30px;
	border: solid 1px #a9a9a9;
	font-size: 20px;
	padding: 5px;
	background-color: #f5f5f5;
	padding: 8px;
}

.left {
	border-radius: 2px;
	border-right: none;
	margin-right: -6px;
}

.middle {
	border-right: none;
	margin-right: -6px;
}

.right {
	border-radius: 2px;
}

.results {
	margin-top: 40px;
	
}
.list-item{
	margin-bottom: 10px;
	font-family: 'Pontano Sans', sans-serif;
}

.line-element {
	margin: 5px;
	font-size: 18px;
	color: dimgray;
}

.star {
	color: gray;
}

.star:hover {
	color: gold;
}

.job-title {
	color: blue;
	font-weight: bolder;
	font-size: 20px;
}